<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.rollin.memory.mapper.ArticleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.rollin.memory.pojo.Article">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="library_id" property="libraryId"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="mnemonic" property="mnemonic"/>
        <result column="created_time" property="createdTime"/>
        <result column="updated_time" property="updatedTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, library_id, title, content, mnemonic, created_time, updated_time
    </sql>

</mapper>
